/*
=============== 
Variables
===============
*/

@import '../../variables.scss';
$clr-primary: #476a2e;
$clr-primary-light: #d4e6a5;
$l-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);

/*
=============== 
Cocktails Project Styles
===============
*/

.cocktails_project {
  nav {
    background: white;
    height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $clr-primary;
    box-shadow: $l-shadow;

    .nav-center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85vw;
      margin: 0 auto;
      max-width: $max-width;

      img {
        width: 12rem;
      }
    }

    ul {
      display: flex;
      align-items: center;

      a {
        display: inline-block;
        font-weight: bold;
        margin-right: 0.5rem;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 1.2rem;
        padding: 0.25rem 0.5rem;
        transition: $transition;
        cursor: pointer;

        &:hover {
          color: $clr-primary;
        }

        &:visited {
          color: unset;
        }
      }
    }
  }

  section.search_bar {
    margin-top: 1rem;
    form {
      width: 85vw;
      margin: 0 auto;
      max-width: 40rem;
      background: white;
      padding: 2rem 2.5rem;
      text-transform: capitalize;
      border-radius: $radius;
      box-shadow: $l-shadow;

      label {
        color: $clr-primary;
        display: block;
        margin-bottom: 1.25rem;
        font-weight: bold;
        letter-spacing: 0.25rem;
      }

      input {
        border-radius: $radius;
        width: 100%;
        border-color: transparent;
        background: #f1f5f8;
        padding: 0.5rem;
        font-size: 1.2rem;

        &:focus {
          outline-color: $clr-primary;
        }
      }

      .loader {
        position: relative;
        height: 3px;
        width: 100%;
        visibility: hidden;

        &.visible {
          visibility: visible;
        }

        .bar {
          width: 50%;
          position: absolute;
          height: 3px;
          background-color: #61dafb;
          animation-name: loader-animation;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
        }
      }
    }
  }

  .title {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: $spacing;
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }

  .cocktail-list {
    .cocktails-center {
      width: 85vw;
      margin: 0 auto;
      max-width: 1170px;
      display: grid;
      row-gap: 2rem;
      column-gap: 2rem;
    }

    .cocktail {
      background: white;
      margin-bottom: 2rem;
      box-shadow: $l-shadow;
      transition: $transition;
      display: grid;
      grid-template-rows: auto 1fr;
      border-radius: $radius;

      &:hover {
        box-shadow: $dark-shadow;
      }

      .img-container {
        img {
          width: 100%;
          height: 20rem;
          object-fit: cover;
          border-top-left-radius: $radius;
          border-top-right-radius: $radius;
        }
      }

      .cocktail-footer {
        padding: 1.5rem;
        h3,
        h4,
        p {
          margin-bottom: 0.3rem;
          letter-spacing: 0.2rem;
        }

        p {
          color: #afafaf;
          margin-bottom: 0.5rem;
        }

        h3 {
          font-size: 2rem;
        }
      }
    }
  }

  .cocktail-section {
    text-align: center;
    padding: 5rem 0;

    .drink {
      width: 85vw;
      max-width: 1170px;
      margin: 0 auto;
      text-align: left;

      img {
        width: 100%;
        display: block;
        border-radius: $radius;
      }

      p {
        color:black;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 1.8;
      }

      span {
        margin-right: 0.5rem;
      }

      .drink-data {
        background: $clr-primary-light;
        padding: 0.25rem 0.5rem;
        border-radius: $radius;
        color: $clr-primary;
      }

      .details {
        padding-top: 2rem;
      }
    }
  }

  .btn {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0.45rem 0.8rem;
    transition: $transition;
    font-size: 0.8rem;
    background: transparent;
    border-radius: $radius;
    display: inline-block;
    background: $clr-primary;
    color: white;

    &:hover {
      background: $clr-primary-light;
    }
  }

  section.about-section {
    width: 85vw;
    max-width: 40rem;
    padding: 5rem 0;
    margin: 0 auto;
    p {
      color: black;
      line-height: 2rem;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }

  @media screen and (min-width: 992px) {
    .drink {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 3rem;
      align-items: center;
    }
    .details {
      padding-top: 0;
    }
  }

  @media screen and (min-width: 576px) {
    .cocktails-center {
      grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    }
  }

  @keyframes loader-animation {
    0% {
      left: 0%;
    }
    49% {
      left: 50%;
    }
    50% {
      left: 50%;
    }
    100% {
      left: 0%;
    }
  }
}
