/*
=============== 
Variables
===============
*/

@import '../../variables.scss';

$clr-primary-1: hsl(205, 86%, 17%);
$clr-primary-5: hsl(205, 78%, 60%);
$clr-primary-7: hsl(205, 90%, 76%);
$clr-primary-8: hsl(205, 86%, 81%);

/*
=============== 
Navbar Styles
===============
*/

.navbar_project {
  background: $clr-white;
  box-shadow: $light-shadow;

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-toggle {
    font-size: 1.5rem;
    color: $clr-primary-5;
    background: transparent;
    border-color: transparent;
    transition: $transition;

    &:hover {
      color: $clr-primary-1;
      transform: rotate(90deg);
    }
  }

  .logo {
    height: 40px;
  }

  .links a {
    color: $clr-grey-3;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: $spacing;
    display: block;
    padding: 0.5rem 1rem;
    transition: $transition;

    &:hover {
      background: $clr-primary-8;
      color: $clr-primary-5;
      padding-left: 1.5rem;
    }
  }

  .social-icons {
    display: none;
  }

  .links-container {
    height: 0;
    overflow: hidden;
    transition: $transition;
  }

  .show-container {
    height: 10rem;
  }

  @media screen and (min-width: 800px) {
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }
    .links-container {
      height: auto !important;
    }
    .links {
      display: flex;

      a {
        padding: 0;
        margin: 0 0.5rem;

        &:hover {
          padding: 0;
          background: transparent;
        }
      }
    }

    .social-icons {
      display: flex;
      a {
        margin: 0 0.5rem;
        color: $clr-primary-5;
        transition: $transition;

        &:hover {
          color: $clr-primary-7;
        }
      }
    }
  }
}
