/*
===========
Global styles
===========
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*
===========
Home Page 
===========
*/

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.home h1 {
  margin-bottom: 2rem;
}

.home p {
  color: gray;
}

.home .info {
  margin-top: 2rem;
}

/*
===========
Error Component
===========
*/

.error_component {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  img {
    padding: 2rem 2rem;
    height: 50vh;
    width: auto;
  }

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    color: gray;
  }
}

/*
===========
Loading Component
===========
*/

.loading_component {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .logo {
    animation: bounce 2s ease-in-out infinite;
    margin: 0 auto;
  }

  .loader {
    position: absolute;
    top: 0;
    height: 6px;
    width: 100%;

    .bar {
      width: 100%;
      position: absolute;
      height: 6px;
      background-color: #61dafb;
      animation-name: loader-animation;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loader-animation {
  0% {
    left: -100%;
  }
  49% {
    left: 100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

/*
===========
404 Component
===========
*/

.not_found {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  img {
    width: 30rem;
  }

  .return-btn {
    padding: 0.6rem 1rem;
    border-radius: 0.25rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 700;
    color: white;
    background: #61dafb;
    transition: all 0.3s linear;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
  }
}
